*.swp
*.swo
# if u dont want commit ur real secret key in git repo, 
# u can use: git update-index --assume-unchanged credentials
# credentials
.idea
*__pycache__*
*.ipynb_checkpoints*
result/*
weights/*
